 <!-- Content Header (Page header) -->
 <section class="content-header"> 
    <h1>
      Data Tables
      <small>advanced tables</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Data tables</li>
    </ol>
  </section>

<!-- Main content -->
<section class="content">
    <div class="row">
      <div class="col-xs-12">
        <div class="box">
          <div class="box-header">
            <h3 class="box-title">Hover Data Table</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table datatable [dtOptions]="dtOptions" class="row-border hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>First name</th>
              <th>Last name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Foo</td>
              <td>Bar</td>
              <!-- <td><button class="btn btn-danger" (click)="toggleDeleteBtn = !toggleDeleteBtn">Delete</button></td> -->
            </tr>
            <tr>
              <td>2</td>
              <td>Someone</td>
              <td>Youknow</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Iamout</td>
              <td>Ofinspiration</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Yoda</td>
              <td>Skywalker</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Patrick</td>
              <td>Dupont</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Barack</td>
              <td>Obama</td>
            </tr>
            <tr>
              <td>7</td>
              <td>François</td>
              <td>Holland</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Michel</td>
              <td>Popo</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Chuck</td>
              <td>Norris</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Simon</td>
              <td>Robin</td>
            </tr>
            <tr>
              <td>11</td>
              <td>Louis</td>
              <td>Lin</td>
            </tr>
            <tr>
              <td>12</td>
              <td>Zelda</td>
              <td>Link</td>
            </tr>
          </tbody>
            </table>
          </div>
        </div> 
        <!-- <ngx-datatable [rows]="rows" [columns]="columns"> </ngx-datatable> -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->

  <!-- Delete Modal -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<!-- Begin Quick View | Modal Area -->
<form [formGroup]="this.dataForm" (ngSubmit)="onSubmit()">
    <div class="modal fade modal-wrapper" id="exampleModalCenter">
        <div class="modal-dialog modal-dialog-centered" role="document">

            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="text-center">ADD PRODUCT</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Name: </label>
                                <input placeholder="" class="form-control" type="text" formControlName="productName">
                                <div *ngIf="submitted && f.productName.errors">
                                    <div *ngIf="f.productName.errors.required" class="errors"> * Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Description: </label>
                                <textarea class="form-control" rows="5" formControlName="description"></textarea>
                                <div *ngIf="submitted && f.description.errors">
                                    <div *ngIf="f.description.errors.required" class="errors"> * Description is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Provider:</label>
                                <select formControlName="providerId" class="form-control">
                                <option *ngFor="let provider of providers" [ngValue]="provider.providerId">
                                    {{provider.providerName}}
                                  </option>
                            </select>
                                <div *ngIf="submitted && f.providerId.errors">
                                    <div *ngIf="f.providerId.errors.required" class="errors"> * Provider is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Category:</label>
                                <select formControlName="categoryId" class="form-control">
                                    <option *ngFor="let category of categories" [ngValue]="category.categoryId">
                                        {{category.categoryName}}
                                      </option>
                            </select>
                                <div *ngIf="submitted && f.categoryId.errors">
                                    <div *ngIf="f.categoryId.errors.required" class="errors"> * Category is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Status:</label>
                                <select formControlName="status" class="form-control">
                                <option value="1">On Sale</option>
                                <option value="2">Out of stock</option>
                            </select>
                                <div *ngIf="submitted && f.status.errors">
                                    <div *ngIf="f.status.errors.required" class="errors"> * Status is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn btn-rounded" type="submit">ADD</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form> 