<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="active">Register</li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<div class="page-section mb-60">
  <div class="container">
    <div class="row">
      <div class="col-md-12 register-component">
        <!-- Register Form -->
        <form (ngSubmit)="onSubmit()" [formGroup]="this.dataForm">
          <div class="login-form">
            <h4 class="login-title">Register</h4>
            <div class="row">
              <div class="col-md-6 col-12 mb-20">
                <label>First Name*</label>
                <input class="mb-0" formControlName="firstName" placeholder="First Name" type="text">
                <div *ngIf="submitted && f.firstName.errors">
                  <div *ngIf="f.firstName.errors.required" class="errors"> * First name is required</div>
                </div>
              </div>
              <div class="col-md-6 col-12 mb-20">
                <label>Last Name*</label>
                <input class="mb-0" formControlName="lastName" placeholder="Last Name" type="text">
                <div *ngIf="submitted && f.lastName.errors">
                  <div *ngIf="f.lastName.errors.required" class="errors"> * Last name is required</div>
                </div>
              </div>
              <div class="col-md-12 mb-20">
                <label>Email Address*</label>
                <input class="mb-0" formControlName="email" placeholder="Email Address" type="email">
                <div *ngIf="submitted && f.email.errors">
                  <div *ngIf="f.email.errors.required" class="errors"> * Email is required</div>
                  <div *ngIf="f.email.errors.pattern" class="errors"> * Format email is wrong (Ex: tannd@gmail.com)
                  </div>
                </div>
              </div>
              <div class="col-md-6 mb-20">
                <label>Password*</label>
                <input class="mb-0" formControlName="password" placeholder="Password" type="password">
                <div *ngIf="submitted && f.password.errors">
                  <div *ngIf="f.password.errors.required" class="errors"> * Password is required</div>
                </div>
              </div>
              <div class="col-md-6 mb-20">
                <label>Confirm Password*</label>
                <input class="mb-0" formControlName="cfmPassword" placeholder="Confirm Password" type="password">
                <div *ngIf="submitted && f.cfmPassword.errors">
                  <div *ngIf="f.cfmPassword.errors.required" class="errors"> * Confirm password is required</div>
                  <div *ngIf="f.cfmPassword.errors?.MustMatch" class="errors"> * Password does not match!</div>
                </div>
              </div>
              <div class="col-md-12 mb-20">
                <label>Address*</label>
                <input class="mb-0" formControlName="address" placeholder="Address" type="text">
                <div *ngIf="submitted && f.address.errors">
                  <div *ngIf="f.address.errors.required" class="errors"> * Address is required</div>
                </div>
              </div>
              <div class="col-md-6 mb-20">
                <label>Gender*</label>
                <input checked class="col-md-12 mb-20 " formControlName="gender"
                       name="gender" style="height: 13px; width: 13px;" type="radio" value="Nam">Male
                <input class="col-md-12 mb-20 ml-50" formControlName="gender" name="gender"
                       style="height: 13px; width: 13px;" type="radio" value="Nữ">Female
                <div *ngIf="submitted && f.gender.errors">
                  <div *ngIf="f.gender.errors.required" class="errors"> * Gender is required</div>
                </div>
              </div>
              <div class="col-md-6 mb-20">
                <label>Phone Number*</label>
                <input class="mb-0" formControlName="phone" placeholder="Phone Number" type="text">
                <div *ngIf="submitted && f.phone.errors">
                  <div *ngIf="f.phone.errors.required" class="errors"> * Phone is required</div>
                </div>
              </div>
              <div class="col-12">
                <button class="register-button mt-0" type="submit">Register</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Login Content Area End Here -->
