<!-- Begin Product Area -->
<div class="product-area pt-60 pb-50">
  <div class="container">
    <div class="shop-top-bar mt-30">
      <div class="shop-bar-inner">
        <div class="toolbar-amount" style="font-size: large;">
          <span>Found {{products.length}} result with keyword "<strong>{{searchResult.searchKey}}</strong>"</span>
        </div>
      </div>
      <!-- product-select-box start -->
      <div class="product-select-box">
        <div class="product-short">
          <p>Sort By:</p>
          <select (change)="sort($event)" class="selection" id="sort-by">
            <option disabled hidden selected value="">Sort By</option>
            <option value="NameZ">Name (A - Z)</option>
            <option value="Name">Name (Z - A)</option>
            <option value="Low">Price (Low &gt; High)</option>
            <option value="High">Price (High &gt; Low)</option>
          </select>
        </div>
      </div>
      <!-- product-select-box end -->
    </div>
    <div class="shop-products-wrapper mt-50" style="width: 80%; margin: auto;">
      <div class="tab-content">
        <div class="tab-pane active show" id="li-new-product" role="tabpanel">
          <div *ngIf="products?.length != 0" class="row">
            <div *ngFor="let product of products" class="col-md-3" style="position: relative;">
              <div class="single-product-wrap">
                <div class="product-image">
                  <a routerLink="../product-detail/{{product.id}}">
                    <img alt="Li's Product Image" src="http://localhost:8080/api/image/{{product.id}}">
                  </a>
                  <span class="sticker">New</span>
                </div>
                <div class="product_desc">
                  <div class="product_desc_info">
                    <div class="product-review">
                      <h5 class="manufacturer">
                        <a routerLink="../product-detail/{{product.id}}">{{product.categoryName}}</a>
                      </h5>
                      <div class="rating-box">
                        <ul class="rating">
                          <li><i class="fa fa-star-o"></i></li>
                          <li><i class="fa fa-star-o"></i></li>
                          <li><i class="fa fa-star-o"></i></li>
                          <li><i class="fa fa-star-o"></i></li>
                          <li><i class="fa fa-star-o"></i></li>
                        </ul>
                      </div>
                    </div>
                    <h4><a class="product_name" routerLink="../product-detail/{{product.id}}">{{product.name}}</a></h4>
                    <div class="price-box">
                      <span class="new-price" style="color: red;">{{product.price | currency}}</span>
                    </div>
                  </div>
                  <div class="add-actions">
                    <ul class="add-actions-link">
                      <li class="add-cart active"><a (click)="addToCart(product.id)">Add to cart</a></li>
                      <li><a (click)="addToWishList(product.id)" class="links-details"><i class="fa fa-heart-o"></i></a>
                      </li>
                      <li><a class="quick-view-btn" data-target="#exampleModalCenter" data-toggle="modal" href="#"
                             title="quick view"><i class="fa fa-eye"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="products?.length == 0" class="row" style="width: 50%; margin: auto;">
            <img alt="" src="../../../assets/site/images/noti-search.png">
            <div><h4>We could not find any product with your search</h4></div>
          </div>
        </div>
      </div>
    </div>
  </div>
