<section class="content-header">
  <h1>
    Import Management
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active"><a href="#">Import</a></li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Import Voucher List</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="content">
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <a (click)="createImport()" class="btn btn-primary btn-rounded float-right" routerLink="./add">
                        <i class="fa fa-plus"></i> Add Import Voucher</a>
                    </div>
                  </div>
                </div>
                <div class="row" style="margin-top: 1rem;">
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" datatable>
                        <thead>
                        <tr>
                          <th>Code</th>
                          <th>Fullname of employee</th>
                          <th>Date of issue</th>
                          <th>Amount</th>
                          <th class="text-right">Actions</th>
                        </tr>
                        </thead>
                        <tbody *ngIf="imports?.length == 0">
                        <tr>
                          <td class="no-data-available" colspan="3">No data!</td>
                        </tr>
                        </tbody>
                        <tbody *ngIf="imports?.length != 0">
                        <tr *ngFor="let import of imports" data-toggle="modal">
                          <td>{{import.id}}</td>
                          <td>{{import.employeeFullName}}</td>
                          <td>{{import.date | date}}</td>
                          <td>123,456$</td>
                          <td class="text-right">
                            <div class="dropdown dropdown-action">
                              <a aria-expanded="false" class="action-icon dropdown-toggle" data-toggle="dropdown"
                                 href="#"><i class="fa fa-ellipsis-v"></i></a>
                              <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="edit-expense.html"><i class="fa fa-pencil m-r-5"></i>
                                  Edit</a>
                                <a class="dropdown-item" data-target="#delete_expense" data-toggle="modal"><i
                                  class="fa fa-trash-o m-r-5"></i> Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade modal-wrapper" id="delete_expense" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img alt="" height="46" src="../../../../assets/admin/images/sent.png" width="50">
        <h3>Are you sure want to delete this expense?</h3>
        <div class="m-t-20">
          <button class="btn btn-danger" type="submit">Delete</button>
          <a class="btn btn-primary" data-dismiss="modal" href="#">Close</a>
        </div>
      </div>
    </div>
  </div>
</div>
