<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Order Detail {{orderId}}</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="table-content table-responsive">
                    <h4>Information of Delivery</h4>
                    <table class="table">
                        <tbody>
                            <tr class="table-row">
                                <th><strong>Full Name: </strong></th>
                                <td>{{order.firstNameOfReceiver}} {{order.lastNameOfReceiver}}</td>
                            </tr>
                            <tr class="table-row">
                                <th><strong>Phone Number: </strong></th>
                                <td>{{order.phoneOfReceiver}}</td>
                            </tr>
                            <tr class="table-row">
                                <th><strong>Address: </strong></th>
                                <td>{{order.addressOfReceiver}}</td>
                            </tr>
                            <tr class="table-row">
                                <th><strong>Order Date: </strong></th>
                                <td>{{order.dateOfOrder | date}}</td>
                            </tr>
                            <tr class="table-row">
                                <th><strong>Status: </strong></th>
                                <td *ngIf="order.status == 0">Confirming</td>
                                <td *ngIf="order.status == 1">Delivering</td>
                                <td *ngIf="order.status == 2">Delivered</td>
                                <td *ngIf="order.status == 3">Cancelled</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div *ngIf="order.status == 0" class="col-md-6 mt-20">
                        <button (click)="cancelOrder(order.id)" class="btn btn-danger">Cancel Order</button>
                    </div>
                    <div *ngIf="order.status == 1" class="col-md-6 mt-20">
                        <button (click)="receiveOrder(order.id)" class="btn btn-primary">Have Received</button>
                    </div>
                    <div class="col-md-8 ml-auto">
                        <div class="cart-page-total">
                            <h2>Totals</h2>
                            <ul>
                                <li>Subtotal <span>{{order.total / 1.1 | currency}}</span></li>
                                <li>VAT (10%) <span>{{(order.total / 1.1) * 0.1 | currency}}</span></li>
                                <li>Total <span>{{order.total | currency}}</span></li>
                            </ul>
                            <!-- <a style="color: white;" (click)="processToCheckout()">Proceed to checkout</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <h4>Order Detail</h4>
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="li-product-thumbnail">images</th>
                                    <th class="cart-product-name">Product</th>
                                    <th class="cart-product-name">Modal</th>
                                    <th class="li-product-price">Unit Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let od of listOrderDetail">
                                    <td class="li-product-thumbnail">
                                        <a href="#">
                                            <img height="100px" src="http://localhost:8080/api/image/{{od.productId}}" alt="Li's Product Image">
                                        </a>
                                    </td>
                                    <td class="li-product-name"><a href="#">{{od.product.name}}</a></td>
                                    <td class="li-product-name">
                                        <a href="#">{{od.productDetail.color}} - {{od.productDetail.ram}} RAM - {{od.productDetail.memmory}}</a>
                                    </td>
                                    <td class="li-product-price"><span class="amount">{{od.product.price | currency}}</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Shopping Cart Area End-->

