<div class="filter">
    <div class="option-category">
      <!-- <select name="selectOptionSearch" id="search" [(ngModel)]="categoryName" (change)="getProduct(categoryName)">
        <option *ngFor="let category of categories" [value]="category.categoryName">
          {{category.categoryName}}
        </option>
      </select> -->
    </div>
    
    <div class="search-bar">  
      <input class="form-control-lg" type="text" placeholder="Search..." [(ngModel)]="filter" />
    </div>
  </div>
  
  <div class="col-md-12" style="width: 100%;">
    <table>
      <thead>
        <tr>
          <td>Id</td>
          <td>Username</td>
          <td>First Name</td>
          <td>Last Name</td>
          <td>Email</td>
          <td>Phone</td>
          <td>Address</td>
          <td>Role</td>
          <td></td>
        </tr>
      </thead>
    
      <tbody>
        <tr *ngFor="let user of users | filter: filter | paginate: {id: 'pagination', itemsPerPage: 5, currentPage: pageNumber}">
          <td routerLink="../edit-user/{{user.id}}">{{user.id}}</td>
          <td routerLink="../edit-user/{{user.id}}">{{user.username}}</td>
          <td routerLink="../edit-user/{{user.id}}">{{user.firstname}}</td>
          <td routerLink="../edit-user/{{user.id}}">{{user.lastname}}</td>
          <td routerLink="../edit-user/{{user.id}}">{{user.email}}</td>
          <td routerLink="../edit-user/{{user.id}}">{{user.phone}}</td>
          <td routerLink="../edit-user/{{user.id}}">{{user.address}}</td>
          <td routerLink="../edit-user/{{user.id}}">{{user.roles[0].name.substr(5)}}</td>
          <td><button class="btn btn-danger" (click)="clickedDelete = !clickedDelete; id = user.id">Delete</button></td>
        </tr>
      </tbody>
    </table>  
  </div>
  
  <div *ngIf="clickedDelete" class="modal">
    <div class="modal-content">
      <div class="container-modal">
        <h1>Delete User?</h1>
        <p>Are you sure you want to delete this User?</p>
        <p>This can't be undo!</p>
        <div>
          <button type="button" class="deletebtn" (click)="deleteUser(id)" >Yes</button>
          <button type="button" class="cancelbtn" (click)="clickedDelete = !clickedDelete">No</button>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-left: 40%;">
    <pagination-controls id="pagination"
    (pageChange)="pageNumber = $event"></pagination-controls>
  </div>
  
