<div class="page-wrapper">
  <div class="content">
    <div class="row">
      <div class="col-sm-8 col-5">
        <h4 class="page-title"></h4>
      </div>
      <div class="col-sm-4 col-7 text-right m-b-30">
        <a (click)="$event.preventDefault();toAddVoucher();" class="btn btn-primary btn-rounded float-right"><i
          class="fa fa-plus"></i> Add voucher</a>
      </div>
    </div>
    <div class="row filter-row">
      <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <label class="focus-label">* Code:</label>
        <div class="form-group form-focus">
          <input class="form-control floating" type="text">
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <label class="focus-label">* Firstname of employee: </label>
        <div class="form-group">
          <select class="select">
            <option>Cash</option>
            <option>Cheque</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <label class="focus-label">* Lastname of employee:</label>
        <div class="form-group">
          <select class="select">
            <option>Cash</option>
            <option>Cheque</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <label class="focus-label">* Date of issue (from): </label>
        <div class="form-group">
          <div class="cal-icon">
            <input class="form-control floating datetimepicker" type="text">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <label class="focus-label">* Date of issue (to): </label>
        <div class="form-group">
          <div class="cal-icon">
            <input class="form-control floating datetimepicker" type="text">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
        <label class="focus-label"></label>
        <a class="btn btn-success btn-block" href="#" style="margin-top: 8px;
                padding: 6px;min-height: 0px;"> Search </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table mb-0 datatable">
            <thead>
            <tr>
              <th>Code</th>
              <th>Fullname of employee</th>
              <th>Date of issue</th>
              <th>Amount</th>
              <th class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr data-target="#exampleModalCenter" data-toggle="modal">
              <td>
                <strong>PN00001</strong>
              </td>
              <td>TRAN MINH TUAN</td>
              <td>22-07-2021</td>
              <td>$125654</td>
              <td class="text-right">
                <div class="dropdown dropdown-action">
                  <a aria-expanded="false" class="action-icon dropdown-toggle" data-toggle="dropdown" href="#"><i
                    class="fa fa-ellipsis-v"></i></a>
                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="edit-expense.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                    <a class="dropdown-item" data-target="#delete_expense" data-toggle="modal" href="#"><i
                      class="fa fa-trash-o m-r-5"></i> Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade delete-modal" id="delete_expense" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <img alt="" height="46" src="assets/admin/img/sent.png" width="50">
        <h3>Are you sure want to delete this expense?</h3>
        <div class="m-t-20"><a class="btn btn-white" data-dismiss="modal" href="#">Close</a>
          <button class="btn btn-danger" type="submit">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Begin Quick View | Modal Area -->
<div class="modal fade modal-wrapper" id="exampleModalCenter">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <h2 class="text-center">INFORMATION DETAIL</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive">
              <table class="table table-striped custom-table mb-0">
                <thead>
                <tr>
                  <th>Product Code</th>
                  <th>Name of product</th>
                  <th class="text-center">Size</th>
                  <th>Color</th>
                  <th class="text-center">Quantity</th>
                  <th>Price</th>
                  <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td>
                    <strong>PN00001</strong>
                  </td>
                  <td>Bàn Gồ</td>
                  <td class="text-center">S</td>
                  <td>Blue</td>
                  <td class="text-center">15</td>
                  <td>$584</td>
                  <td class="text-right">
                    <div class="dropdown dropdown-action">
                      <a aria-expanded="false" class="action-icon dropdown-toggle" data-toggle="dropdown" href="#"><i
                        class="fa fa-ellipsis-v"></i></a>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="edit-expense.html"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                        <a class="dropdown-item" data-target="#delete_expense" data-toggle="modal" href="#"><i
                          class="fa fa-trash-o m-r-5"></i> Delete</a>
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
