<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="index.html">Home</a></li>
        <li class="active">Compare</li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Compare Area -->
<div class="compare-area pt-60 pb-60">
  <div class="container">
    <!-- <form autocomplete="off" action="/action_page.php">
        <div class="autocomplete" style="width:300px;">
            <div *ngIf="productCompareName.length != 0">
                <input id="myInput" type="text" name="myCountry" placeholder="Country"
                    [value]="productCompareName" disabled>
                <div style="position: absolute; margin-top: -45px; right: 0">
                    <button (click)="productCompareName = ''" class="btn btn-link"><i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
            </div>
            <input *ngIf="productCompareName.length == 0" id="myInput" type="text" name="myCountry" placeholder="Country"
                [(ngModel)]="filter" (focus)="toggle = true" (blur)="toggle = false">
            <div *ngIf="toggle" class="autocomplete-items">
                <div *ngFor="let product of products | filter: filter" >
                    <div (click)="assignProductCompareName(product.name)">
                        <img height="50px" src="http://localhost:8080/api/image/{{product.id}}" alt="">
                        {{product.name}}
                        <input type="hidden" value="product.name">
                    </div>
                </div>
            </div>
        </div>
        <input type="submit" style="width: 100px;">
    </form> -->
    <div class="compare-table table-responsive">
      <h4 style="text-align: center; text-decoration: underline;">
        Compare {{firstProduct.name}} vs {{secondProduct.name}}</h4>
      <table class="table table-bordered table-hover mb-0">
        <tbody>
        <tr>
          <th class="compare-column-titles">Product</th>
          <td class="compare-column-productinfo">
            <div class="ng-autocomplete">
              <input [value]="firstProduct.name" class="input-first-pro" disabled type="text">
              <div class="vs">
                <strong>VS</strong></div>
            </div>
          </td>
          <td class="compare-column-productinfo">
            <div class="ng-autocomplete">
              <ng-autocomplete
                (selected)='selectEvent($event)'
                [data]="products"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
                [searchKeyword]="keyword"
                historyIdentifier="products"
                placeholder="Enter the State Name">
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <div class="item">
                  <img height="25" src="http://localhost:8080/api/image/{{item.id}}">
                  <span [innerHTML]="item.name"></span> &nbsp; | &nbsp;
                  <small>Price: {{item.price}}</small>
                </div>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
          </td>
        </tr>
        <tr>
          <th class="compare-column-titles">Image</th>
          <td class="compare-column-productinfo">
            <div class="compare-pdoduct-image">
              <a href="single-product.html">
                <img alt="Product Image" height="100px" src="http://localhost:8080/api/image/{{firstProduct.id}}">
              </a>
              <a class="ho-button ho-button-sm" href="cart.html">
                <span>ADD TO CART</span>
              </a>
            </div>
          </td>
          <td class="compare-column-productinfo">
            <div class="compare-pdoduct-image">
              <a href="single-product.html">
                <img alt="Product Image" height="100px" src="http://localhost:8080/api/image/{{secondProduct.id}}">
              </a>
              <a *ngIf="secondProduct.id != null" class="ho-button ho-button-sm" href="cart.html">
                <span>ADD TO CART</span>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <th>Model</th>
          <td *ngIf="productDetailStringFirst?.length != 1">
            <button (click)="changeProductDetail(i, true)" *ngFor="let detail of productDetailStringFirst; index as i"
                    class="dimension" style="margin: 10px;">{{detail}}</button>
          </td>
          <td *ngIf="productDetailStringFirst?.length == 1 || productDetailStringFirst?.length == 0">
            <button class="dimension" style="margin: 10px;">{{productDetailStringFirst[0]}}</button>
          </td>
          <td *ngIf="secondProduct.id != null && productDetailStringSecond?.length != 1">
            <button (click)="changeProductDetail(i, false)" *ngFor="let detail of productDetailStringSecond; index as i"
                    class="dimension" style="margin: 10px;">{{detail}}</button>
          </td>
          <td
            *ngIf="secondProduct.id != null && (productDetailStringSecond?.length == 1 || productDetailStringSecond?.length == 0)">
            <button class="dimension" style="margin: 10px;">{{productDetailStringSecond[0]}}</button>
          </td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{firstProduct.description}}</td>
          <td>{{secondProduct.description}}</td>
        </tr>
        <tr>
          <th>Price</th>
          <td>{{firstProduct.price | currency}}</td>
          <td>{{secondProduct.price | currency}}</td>
        </tr>
        <tr>
          <th>Color</th>
          <td>{{selectedProductDetailFirst.color}}</td>
          <td>{{selectedProductDetailSecond.color}}</td>
        </tr>
        <tr>
          <th>RAM</th>
          <td>{{selectedProductDetailFirst.ram}}</td>
          <td>{{selectedProductDetailSecond.ram}}</td>
        </tr>
        <tr>
          <th>MEMORY</th>
          <td>{{selectedProductDetailFirst.memmory}}</td>
          <td>{{selectedProductDetailSecond.memmory}}</td>
        </tr>
        <tr>
          <th>CPU</th>
          <td>{{selectedProductDetailFirst.cpu}}</td>
          <td>{{selectedProductDetailSecond.cpu}}</td>
        </tr>
        <tr>
          <th>SCREEN</th>
          <td>{{selectedProductDetailFirst.screen}}</td>
          <td>{{selectedProductDetailSecond.screen}}</td>
        </tr>
        <tr>
          <th>CAMERA</th>
          <td>{{selectedProductDetailFirst.camera}}</td>
          <td>{{selectedProductDetailSecond.camera}}</td>
        </tr>
        <tr>
          <th>BATTERY</th>
          <td>{{selectedProductDetailFirst.pin}}</td>
          <td>{{selectedProductDetailSecond.pin}}</td>
        </tr>
        <tr>
          <th>OPERATING SYSTEM</th>
          <td>{{selectedProductDetailFirst.os}}</td>
          <td>{{selectedProductDetailSecond.os}}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td *ngIf="firstProduct.status == 0">Stock Out</td>
          <td *ngIf="firstProduct.status == 1">In Stock</td>
          <td *ngIf="firstProduct.status == 2">Coming Soon</td>
          <td *ngIf="secondProduct.status == 0">Stock Out</td>
          <td *ngIf="secondProduct.status == 1">In Stock</td>
          <td *ngIf="secondProduct.status == 2">Coming Soon</td>
        </tr>
        <tr>
          <th>Rating</th>
          <td>
            <div class="li-pro-rating li-rattingbox">
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
            </div>
          </td>
          <td>
            <div *ngIf="secondProduct.id != null" class="li-pro-rating li-rattingbox">
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
              <span><i class="fa fa-star-o"></i></span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--// Compare Area -->
